# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# *.a
*.lib

# Executables
*.exe
*.out
*.app

#Build directory
/build

# vscode stuff
.vscode/extensions.json
.vscode/.cortex*
.vscode/STM32H750x.svd

# venv stuff
.venv
*.pyc

# unneeded:
include

# IP
transient_shaper.ipynb
transient_shaper_lib.ipynb
renders
*.wav
*.csv