# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# *.a
*.lib

# Executables
*.exe
*.out
*.app

#Build directory
/build

# vscode stuff
.vscode/extensions.json
.vscode/.cortex*
.vscode/STM32H750x.svd

# venv stuff
.venv

# unneeded:
include

# IP
transient_shaper.ipynb
transient_shaper_lib.ipynb
renders
TauNet/1 - looperman-l-5151565-0354397-spicy-drums.wav
TauNet/10 - 484656__yellowtree__gloomy-guitar-loop.wav
TauNet/11 - Vocal A.wav
TauNet/12 - Vocal B.wav
TauNet/13 - 20240208_Eli Preiss - Alles (und nichts) ｜ A COLORS SHOW.wav
TauNet/2 - looperman-l-2379402-0354276-aftershock-hard-trap-drums-x-808-x-percs-kb.wav
TauNet/3 - looperman-l-3066414-0354301-boom-bap-classic-hip-hop-drums.wav
TauNet/4 - 244392__insidebeat__hip-hop-3-mpc500.wav
TauNet/5 - 345289__50fps__4-beat-14-upbeat.wav
TauNet/6 - 367962__trngle__175bpm-db-drum-sequence.wav
TauNet/7 - 330744__alonnaallen__90s-beat-loop-140bpm.wav
TauNet/8 - 652462__yellowtree__midwest-clean-guitar.wav
TauNet/9 - 584282__yellowtree__clean-guitar-loop.wav
